@import 'modules/_nav';
@import 'modules/foot';

@font-face {
    font-family: "PhosphateInline";
    src: url("../css/PhosphateInline.woff"),
         url("../css/PhosphateInline.woff2");
    
}


@font-face {
 font-family: 'Share Tech Mono', monospace;
 src: url("../css/ShareTechMono-Regular.woff"),
      url("../css/ShareTechMono-Regular.woff");
}

@media screen 
and (min-device-width: 1280px) 
and (max-device-width: 1600px) {

main{
width: 100vw;
overflow-x:hidden;
padding:0;
margin:0%;
}



#about{
width: 100vw;
height: 70vh;
display: flex;
flex-direction: row;

.black-about{
width: 50vw;
background-color: #161616;

h2{font-family: "Andale Mono";
    padding-top: 3vh;
    padding-left: 2vw;
    font-size: 3rem; color: white; text-align:left}



.img-con{
    height: 235px;
    transform: rotate(-45deg);
    vertical-align: middle;
    width:235px;
    top: 7vh;
    left: 15vw;
    position: relative;
    background-image: url(../images/pro.png);
    background-attachment: fixed !important; //it's not working in firefox. . .
    justify-content: center;
    z-index: 1;
    }
  


marquee{
    width: 30vw; height: 30vh;
    color: rgba(214,211,211,0.6);
    top: -5vh;
    left: 0vw;
    font-size: 2rem;
    position: relative;
}
      

}

#about-dynamic{
    width: 50vw;
background-color: white;
padding: 3%;

h1{
font-family: 'PhosphateInline';
text-align: center;
font-size: 1.7rem;
letter-spacing: 0.8vw;
font-weight: 400;
margin-bottom: 3vh;
 span{
font-size: 4rem;
}
}
h2,h3{
    font-family: 'Share Tech Mono', monospace;
    font-size:1.2rem; letter-spacing: 2px; text-align: center; padding: 1.5%;}
    p{font-family: 'Share Tech Mono', monospace;
    padding: 1%; font-size: 1rem; letter-spacing: 1.5px; text-align: center;}

//dynamic h2 h3 do styling !!!!!!!!!!!!!!!!!!!

}
.skill{
width: 50vw;
height: 200px;
display:flex;
flex-direction: row;



img{width: 25vw; height: 20vh; margin: 5%;}

.etc{
width: 50vw;
margin: 3%;
text-align: center;
    li{ font-family: 'Share Tech Mono', monospace;
        font-size: 1rem; margin: 3%;
        color: #515151;
        list-style: none;
    
    
        span{font-size: 1.2rem; font-weight: 500; letter-spacing: 5px; color: black;}}
}

}


}

//do portfolio

#work{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x:hidden;
    background-color:#f2f2f2;
    flex-direction: row;

    

    .white-g
    {width: 44vw;
    height: 80vh;
    margin: 3%;
    background-color: white;}
    
    #img-here{
      width: 450px;
      height: 330px;
      background-color: #B4B1B1;
      position: absolute;
      z-index: 1;
      top: 190vh;
      left: 22vw;
      margin:0 auto;
      overflow:hidden;
    
    .img-cont{
        position:relative; width:1800px; transition: all .5s;
    
        img{width: 450px; float:left;}
    }
    
    }
  //WORK PORTFOLIO DONE
    

    .black-g
    {
    width: 56vw;
    height: 100vh;
    position: relative;
    right: 0;
    background-color: black;
    
    .workData{
    color:white;
    width: 20vw;
    display:flex;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 5vh;
    margin-left: 14vw;
    padding: 5%;
    
    &:hover{cursor: pointer;}
    }

     
    }
}

#video{
    width: 100vw;
    height: 100vh;
    background-color:white;
    margin-bottom: 15vh;

  video{ width: 90vw; margin: 5%;}

}



.popover { 
    display: none;
    position: absolute;
    background-color:rgba(71,70,70,0.8);
    width:95vw;
    left: 3vw;
    height: 100vh;
    top: 200vh;
    z-index: 999;
    border-radius: 8px;
    padding: 4px;


    h2 {font-size: 2.5rem; font-weight: 300; 
        font-family: 'Share Tech Mono', monospace;
        color: seashell; margin-bottom: 10px;}
    
    h3,p{
    padding: 2%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
    color: seashell;
    }

    .close-btn{ background: none;
                margin-left: 90vw;
                border:none; font-size:50px;
                font-family: 'Share Tech Mono', monospace; }

    .workImg img { width: 250px; height: 150px;}

    .link{
        img{width: 50px; padding: 3%;}}
  }
 
  .show-popover { 
     display: block;
       text-align: center;}

//Contact form

       #form {
        display:none;
        width: 70vw;
        height: 100vh;
        margin: 0 auto;
        text-align: center;
        background-color: #161616;
        position: absolute;
        top: 50vh;
        left: 10vw;
        z-index: 1;
        border-radius: 2px;
        
        h2{font-family:"PhosphateInline"; font-size:2rem; color: white; margin: 40px; text-align: center;}

        input {
            width: 50vw;
            height: 30px;
            margin-top: 40px;
            padding: 5px;
            border: solid ;
            font-size: 1.25em;
        }
    
        textarea {
            width: 50vw;
            height: 160px;
            margin-top: 30px;
            padding: 5px;
            border: solid 3px;
            
            font-size: 1.25em;
        }
    
        .submit-btn{
            width: 50vw;
            height: 45px;
            border: none;
            background-color: #161616;
            color: whitesmoke;
            font-size: 1.2em;
            margin-top: 30px;
            transition: .3s;
            &:hover{
              transform: scale(1.01);
              background-color: violet;
              cursor: pointer;
              }}
                    
         }
        .show-cont { 
            display: block !important; 
              text-align: center;}


        }

        .sendit{
            display:none;
            width: 70vw;
            height: 100vh;
            margin: 0 auto;
            text-align: center;
            background-color: #161616;
           background-image: url(../images/thankyou.png);
            position: absolute;
            top: 50vh;
            left: 10vw;
            z-index: 1;
            border-radius: 2px;
        
            h2{font-family: 'Share Tech Mono', monospace;
                margin: 10%;
                text-align: center;
                  font-size: 2rem; color:white;}

          h3{
            font-family: 'Share Tech Mono', monospace;
            text-align: center;
            font-size: 2rem; color:white}
        
                        }

        .sendPage{
        display: block !important;
        text-align: center;
        }