@import 'modules/_nav';
@import 'modules/_foot';
@import 'modules/_vars';

@font-face {
    font-family: "PhosphateInline";
    src: url("../css/PhosphateInline.woff"),
         url("../css/PhosphateInline.woff2");    
}

@font-face {
    font-family: 'Oswald', sans-serif;
 src: url("../css/Oswald-Bold.woff"),
      url("../css/Oswald-ExtraLight.woff"),
      url("../css/Oswald-Regular.woff");
    }


html,body{ width: 100vw;overflow-x:hidden;}

main{
    width: 100vw;
    overflow-x:hidden;
    padding:0;
    margin:0%;
    }

    #about{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        
        .black-about{
        width: 100vw;
        height: 350px;
        background: rgb(22,22,22);
background: linear-gradient(180deg, rgba(22,22,22,1) 18%, rgba(237,237,237,1) 84%, rgba(255,255,255,1) 100%);
        
        .img-con{
            height: 170px;
            transform: rotate(-45deg);
            vertical-align: middle;
            width:170px;
           
            margin: 0 auto;
            position: relative;
            background-image: url(../images/pro.png);
            background-attachment: fixed !important; //it's not working in firefox. . .
            justify-content: center;
            z-index: 1;
            margin-bottom: 15vh;}
        //image container ends
        }//gradient div ends

        #intro-cont{
            width: 100vw;
            background-color: white;
           
            // opacity: 0;
            // transition: all 200ms ease-in-out;
            #intro{
                margin-top: 100px;
                font-family: $o-font;
                text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c, 14px 6px 4px rgba(206,89,55,0);
                font-size: 1.5em;
                text-align: center;
                margin-bottom: 50px;
                opacity: 0;
                transition: all 200ms ease-in-out;
                span{
                    font-family: $m-font;
                    font-style: bolder;
                    font-size: 2.2em;}
                }//h2 ends

            #onEp{
                opacity: 0;
                transition: all 250ms ease-in;
                font-family: $o-font;
                width: 80vw;
                margin: 0 auto;
                font-size: 1em;
                line-height: 25px;
                margin-bottom: 25px; }

            .p-open1{
                opacity: 1 !important;
            }

            #twOp{
                opacity: 0;
                transition: all 250ms ease-in;
                font-family: $o-font;
                width: 80vw;
                margin: 0 auto;
                font-size: 1em;
                line-height: 25px;
                margin-bottom: 100px;}
                .p-open2{
                    opacity: 1 !important;
                }

                .resume{
                    width: 120px;
                    height: 55px;
                    border: none;
                    border-radius: 15px;
                    background-color: $black;
                    color: white;
                    font-size: 25px;
                    text-align: center;
                    margin-left: 35vw;
                    cursor: pointer;
                   

                    a{
                        color: white;
                    text-decoration: none;}

                    &:hover{
                        transform: scale(1.1);
                       
                    }
                }
        } //intro

        .intro-hi{
            opacity: 1 !important;
        }

        .skill-set{
            
            margin: 143px auto 0 auto;
            flex-direction: wrap;
            flex-wrap: wrap;
            h3{
            font-size: 1.5em;
            font-family: $o-font;
            // text-align: center;
            color: #333333;
            text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
            } //h3 ends
           
            img{
                width: 45px;
                height:45px;
                filter: grayscale(1);
                padding: 25px;
                margin-top: 25px;
                margin-left: -5vw;
                
            }
        }
        }//about
    //work starts...
        #work{
            width: 100vw;
            margin-top: 605px;
            background-color:#ededed;

            h2{
            font-family: $m-font;
            font-size: 2em;
            margin-top: -10px;
            text-align: center;
            text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c, 14px 6px 4px rgba(206,89,55,0);
            }

            #img-here{
                width: 88vw;
                // height: 330px;
                position: absolute;
                z-index: 1;
                left: 5vw;
                overflow:hidden;
              
              .img-cont{
                
                  position:relative; width:1800px; transition: all .5s;
                  img{width: 450px; float:left; object-fit: contain;} }
                }
           
            
                .black-g
                {
                width: 100vw;
                height: 250px;
                margin-top: 300px;
                display:flex;
                flex-direction: row;
                background-color: black;
                
                .workData{
                color:white;
                width: 100vw;
                font-size: 1em;
                margin-top: 130px;
                margin-left: 2vw;
                padding:  0 0 0 25px;
                

                &:hover{cursor: pointer;}}
            }//black divs
              }//work

              #design-cont{
                width: 100vw;
                height: 300px;
                background: rgb(0,0,0);
                background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(237,237,237,1) 79%, rgba(255,255,255,1) 100%);
                
              }
             
              #other-work{
                  width: 100vw;
                 height: 90%;
                  display: flex;
                  flex-wrap:wrap;
                 

                .etc-work{
                    width: 85%;
                    padding: 7%;
                    
                   

                    img{
                        width: 100%;
                        filter: grayscale(100%);
                        transition: all 0.5s ease-in;
                    }

                    img:hover{
                        filter:grayscale(0);
                        cursor: pointer;
                    }
                }
                
              }

              .contact-btn{
                width: 120px;
                    height: 55px;
                    border: none;
                    border-radius: 15px;
                    background-color: $black;
                    color: white;
                    font-size: 25px;
                    text-align: center;
                    margin-left: 35vw;
                    margin-top: 150px;
                    cursor: pointer;
                   

                    a{
                        color: white;
                    text-decoration: none;}

                    &:hover{
                        transform: scale(1.1);
                       
                    }

              }

    
                    .popover { 
                        display: none;
                        position: absolute;
                        background-color:rgba(22,22,22,0.97);
                        width:100vw;
                        left: 0vw;
                        top: 320vh;
                        height: 250vh;
                        // top: 265vh;
                        z-index: 999;
                        border-radius: 8px;
                        padding: 4px;
                    
                    
                        h2 {font-size: 2.2rem; font-weight: 300; 
                            
                            margin-top: 105px;
                            
                            font-family: $o-font;
                            color: seashell; margin-bottom: 100px;}
                        
                        h3{font-family: $o-font;
                            font-size: 1em;  
                            margin-bottom: 30px;
                            width: 90vw;
                            padding: 1.5%;
                            color: seashell;
                            
                        }
                        
                        .text,.text-2{
                        width: 90vw;
                        padding: 1.5%;
                        font-family: $o-font;
                        font-size: 1em;
                        line-height: 45px;
                        color: seashell;

                        }
                    
                        .close-btn{ background: none;
                                    float:right;
                                    margin-right: 15px;
                                    cursor: pointer;
                                    border:none; 
                                    font-size:40px;
                                    color:seashell;}
                    
                        .workImg img { 
                            width: 95%; 
                            margin-top: 100px;
                            margin-left:-5vw;}
                    
                        .link{
                                margin-top: 120px;
                                text-align: center;
                            img{width: 55px; padding: 5%; margin-left:-7%}}
                                                    } //lightbox
                     
                      .show-popover { 
                         display: block !important;
                           text-align: center;}
                        //work - data done......


                           #form {
                            display:none;
                            width: 100vw;
                            height: 140vh;
                            margin:0 auto;
                            text-align: center;
                            background-color: #161616;
                            position: absolute;
                            top: 30vh;
                            
                            z-index: 999;
                            border-radius: 2px;
                            
                            h2{font-family:"PhosphateInline"; font-size:2rem; color: white; margin-top: 130px; text-align: center;}
                    
                            input {
                                width: 70vw;
                                height: 30px;
                                margin-top: 30px;
                                padding: 5px;
                                border: solid ;
                                font-size: 1.25em;}
                        
                            textarea {
                                width: 70vw;
                                height: 160px;
                                margin-top: 30px;
                                padding: 5px;
                                border: solid 3px;
                                font-size: 1.25em;}
                        
                            .submit-btn{
                                width: 50vw;
                                height: 45px;
                                border: none;
                                background-color: #161616;
                                color: whitesmoke;
                                font-size: 1.2em;
                                margin-top: 60px;
                                transition: .3s;
                                &:hover{
                                  transform: scale(1.01);
                                  background-color: violet;
                                  cursor: pointer;
                                  }}
                                        
                                }  //form
                    
                                .show-cont { 
                                    display: block !important; 
                                      text-align: center;}
                    
                            .sendit{
                                display:none;
                                width: 70vw;
                                height: 100vh;
                                margin: 0 auto;
                                text-align: center;
                                background-color: #161616;
                               background-image: url(../images/thankyou.png);
                                position: absolute;
                                top: 50vh;
                                left: 10vw;
                                z-index: 1;
                                border-radius: 2px;
                            
                                h2{font-family: 'Sen', sans-serif;
                                    margin: 10%;
                                    text-align: center;
                                      font-size: 2rem; color:white;}
                    
                              h3{
                                font-family: 'Sen', sans-serif;
                                text-align: center;
                                font-size: 2rem; color:white}
                            
                                            }
                    
                            .sendPage{
                            display: block !important;
                            text-align: center;
                            }
    




@media only screen and (min-width : 480px) and (max-width: 543px){

html,body{ width: 100vw;overflow-x:hidden;  position: absolute;}
main{
    width: 100vw;
    overflow-x:hidden;
    
    padding:0;
    margin:0%;
   


    #work{
        h2{
            font-size: 2.7rem;
            margin-top: 0;
            margin-bottom: 20px;
        }

        #img-here{
            width:450px;
            
        }

        .black-g{
            height: 370px;

            .workData{
                font-size: 1.2em;
            }
            
        }

            }//work

            #design-cont{
                height:400px;
            }

            #other-work{

                #flex-box{
                    width: 100vw;
                    display:flex;
                    flex-direction: row;
                }
                .etc-work{
                    width:90vw;
                }


            }

            .popover{
                top: 340vh;

                .workImg{
                    img{
                        width:100vw;
                       
                    }
                }
            }


            .contact-btn{
                margin-left:38vw;
            }
    }

    
    }
    
    


    @media only screen and 
    (min-width : 543px) and  (max-width : 720px) {
    
    html,body{ width: 100vw;overflow-x:hidden;}

    main{
    width: 100vw;
    overflow-x:hidden;
    padding:0;
    margin:0%;


        #about{
                #intro-cont{
                    #intro{font-size:2em;}

                    #onEp,#twOp{font-size: 1.3em;}

                    .resume{margin-left: 40vw;}

                }

            .skill-set{
                h3{font-size:2em;}
                img{width: 60px; 
                    height: 60px; 
                    padding: 30px;
                    margin-left: -4vw;}

            }

        }//about

        #work{
            width:100vw;
            display:flex;
            flex-direction: row;
            background-color: black;
            padding-top:27px;

        h2{font-size: 3rem; text-align: center; display: none;}

     

        #img-here{
            
            width:450px;
            position: static;
           
        }
     
            .black-g{
               margin-top:0;
                width: 30%;
                height:375px;
                display: flex;
                background-color: black;
                flex-direction: column;
                

                .workData{
                    margin-top: 50px;
                    margin-left:5vw;
                }
               
            }

        }

        #design-cont{height: 550px;}

        #other-work{

            #flex-box{
                display:flex;
                flex-flow: row;

            }
        }

    }//other work..
    .contact-btn{
        width: 130px;
        margin-left:37vw;
    }

}

//Tablet....
@media only screen and 
(min-width : 721px) and  (max-width : 1023px) {
    html,body{ width: 100vw;overflow-x:hidden;}

    main{
    width: 100vw;
    overflow-x:hidden;
    padding:0;
    margin:0%;


        #about{

            .black-about{
                height: 450px;

                .img-con{

                    width: 260px;
                    height:260px;
                }


            }

                #intro-cont{
                    #intro{font-size:2.2em;}

                    #onEp,#twOp{font-size: 1.3em;
                    line-height: 35px;}

                    .resume{margin-left: 43vw;}

                }

            .skill-set{
                
                h3{font-size:2.2em;}
                img{width: 65px; 
                    height: 65px; 
                    padding: 40px;
                    }

            }

        }//about

        #work{
            width:100vw;
            margin-top: 715px;
            display:flex;
            flex-direction: row;
            background-color: black;
            padding-top:75px;

        h2{font-size: 3rem; text-align: center; display: none;}

     

        #img-here{
            
            width:450px;
            position: static;
           
        }
     
            .black-g{
               margin-top:0;
                width: 30%;
                height:375px;
                display: flex;
                background-color: black;
                flex-direction: column;
                

                .workData{
                    font-size: 1.3em;
                    margin-top: 50px;
                    margin-left:18vw;
                }
               
            }

        }

        #design-cont{height: 550px;}

        #other-work{

            #flex-box{
                display:flex;
                flex-flow: row;

            }
        }

    }//other work..
    .contact-btn{
        width: 130px;
        margin-left:43vw;
    }

    .popover { 
        display: none;
        position: absolute;
        background-color:rgba(22,22,22,0.97);
        width:100vw;
        left: 0vw;
        top: 350vh;
        height: 330vh;
        // top: 265vh;
        z-index: 999;
        border-radius: 8px;
        padding: 4px;
    
    
        h2 {font-size: 2.5rem; font-weight: 300; 
            
            margin-top: 105px;
            
            font-family: $o-font;
            color: seashell; margin-bottom: 100px;}
        
        h3{font-family: $o-font;
            font-size: 1.5em;  
            margin-bottom: 30px;
            width: 90vw;
            padding: 1.5%;
            color: seashell;
            
        }
        
        .text,.text-2{
        width: 90vw;
        padding: 1.5%;
        font-family: $o-font;
        font-size: 1.2em;
        line-height: 65px;
        color: seashell;

        }
    
        .close-btn{ background: none;
                    float:right;
                    margin-right: 15px;
                    cursor: pointer;
                    border:none; 
                    font-size:40px;
                    color:seashell;}
    
        .workImg img { 
            width: 75%; 
            margin-top: 100px;
            margin-left:0vw;}
    
        .link{
                margin-top: 120px;
                text-align: center;
            img{width: 55px; padding: 5%; margin-left:-7%}}
                                    } //lightbox
     
      .show-popover { 
         display: block !important;
           text-align: center;}



        }
    




////////laptop    

@media only screen and
(min-width: 1024px) and (max-width: 1281px){
  
    main{
        width: 100vw;
        overflow-x:hidden;
        padding:0;
        margin:0%;
    
    
            #about{
    
                .black-about{
                    height: 350px;
                    margin-bottom: 400px;
                    .img-con{
                        height: 380px;
                        transform: rotate(-45deg);
                        vertical-align: middle;
                        width:380px;
                       
                       
                        position: relative;
                        background-image: url(../images/pro.png);
                        background-attachment: fixed !important; //it's not working in firefox. . .
                        background-size: cover;
                        // justify-content: center;
                        z-index: 1;
                       }
    
    
                }
    
                    #intro-cont{
                        #intro{font-size:2.5em;}
    
                        #onEp,#twOp{
                            width: 65vw;
                            text-align: center;
                        font-size: 1.3em;
                        line-height: 45px;}
    
                        .resume{margin-left: 45vw;}
    
                    }
    
                .skill-set{
                    
                    h3{font-size:2.5em;}
                    img{width: 65px; 
                        height: 65px; 
                        
                        padding: 60px;
                        }
    
                }
    
            }//about
    
            #work{
                width:100vw;
                margin-top: 1315px;
                display:flex;
                flex-direction: row;
                background-color: black;
                padding-top:75px;
    
            h2{font-size: 3rem; text-align: center; display: none;}
    
         
    
            #img-here{
                margin-left: 75px;
                width:450px;
                position: static;
               
            }
         
                .black-g{
                   margin-top:0;
                    width: 30%;
                    height:375px;
                    display: flex;
                    background-color: black;
                    flex-direction: column;
                    
    
                    .workData{
                        font-size: 2em;
                        padding: 10px;
                        margin-top: 40px;
                        margin-left:25vw;
                    }
                   
                }
    
            }
    
            #design-cont{height: 550px;}
    
            #other-work{
                
                   padding-left: 3%;

                #flex-box{
                    
                    .etc-work{
                        width: 30vw;
                        

                        img{
                            width: 25vw;
                            padding: 10%;
                        }
                    }
                }
            }
    
        }//other work..
        .contact-btn{
            width: 130px;
            margin-left:45vw;
        }
    
        .popover { 
            display: none;
            position: absolute;
            background-color:rgba(22,22,22,0.90);
            width:99vw;
            left: 0vw;
            top: 420vh;
            height: 350vh;
            // top: 265vh;
            z-index: 999;
            // border-radius: 8px;
            padding: 4px;
        
        
            h2 {font-size: 3rem; font-weight: 300; 
                
                margin-top: 105px;
                
                font-family: $o-font;
                color: seashell; margin-bottom: 100px;}
            
            h3{font-family: $o-font;
                font-size: 1.5em;  
                margin-bottom: 30px;
                width: 90vw;
                padding: 1.5%;
                color: seashell;
                
            }
            
            .text,.text-2{
            width: 90vw;
            padding: 1.5%;
            font-family: $o-font;
            font-size: 1.2em;
            line-height: 65px;
            color: seashell;
    
            }
        
            .close-btn{ background: none;
                        float:right;
                        margin-right: 15px;
                        cursor: pointer;
                        border:none; 
                        font-size:40px;
                        color:seashell;}
        
            .workImg img { 
                width: 55%; 
                margin-top: 100px;
                margin-left:0vw;}
        
            .link{
                    margin-top: 120px;
                    text-align: center;
                img{width: 55px; padding: 5%; margin-left:-7%}}
                                        } //lightbox
         
          .show-popover { 
             display: block !important;
               text-align: center;}
   
    

              
    
    
    }







//Big desktop
@media only screen and
(min-width: 1282px){

    main{
        width: 100vw;
        overflow-x:hidden;
        padding:0;
        margin:0%;
    
    
            #about{
    
                .black-about{
                    height: 350px;
                    margin-bottom: 400px;
                    .img-con{
                        height: 380px;
                        transform: rotate(-45deg);
                        vertical-align: middle;
                        width:380px;
                       
                       
                        position: relative;
                        background-image: url(../images/pro.png);
                        background-attachment: fixed !important; //it's not working in firefox. . .
                        background-size: cover;
                        // justify-content: center;
                        z-index: 1;
                       }
    
    
                }
    
                    #intro-cont{
                        #intro{font-size:2.5em;}
    
                        #onEp,#twOp{
                            width: 65vw;
                            text-align: center;
                        font-size: 1.3em;
                        line-height: 45px;}
    
                        .resume{margin-left: 45vw;}
    
                    }
    
                .skill-set{
                    
                    h3{font-size:2.5em;}
                    img{width: 65px; 
                        height: 65px; 
                        
                        padding: 60px;
                        }
    
                }
    
            }//about
    
            #work{
                width:100vw;
                margin-top: 1315px;
                display:flex;
                flex-direction: row;
                background-color: black;
                padding-top:75px;
    
            h2{font-size: 3rem; text-align: center; display: none;}
    
         
    
            #img-here{
                margin-left: 75px;
                width:450px;
                position: static;
               
            }
         
                .black-g{
                   margin-top:0;
                    width: 30%;
                    height:375px;
                    display: flex;
                    background-color: black;
                    flex-direction: column;
                    
    
                    .workData{
                        font-size: 2em;
                        padding: 10px;
                        margin-top: 40px;
                        margin-left:25vw;
                    }
                   
                }
    
            }
    
            #design-cont{height: 550px;}
    
            #other-work{
                
                   padding-left: 3%;

                #flex-box{
                    
                    .etc-work{
                        width: 30vw;
                        

                        img{
                            width: 25vw;
                            padding: 10%;
                        }
                    }
                }
            }
    
        }//other work..
        .contact-btn{
            width: 130px;
            margin-left:45vw;
        }
    
        .popover { 
            display: none;
            position: absolute;
            background-color:rgba(22,22,22,0.90);
            width:99vw;
            left: 0vw;
            top: 420vh;
            height: 350vh;
            // top: 265vh;
            z-index: 999;
            border-radius: 8px;
            padding: 4px;
        
        
            h2 {font-size: 3rem; font-weight: 300; 
                
                margin-top: 105px;
                
                font-family: $o-font;
                color: seashell; margin-bottom: 100px;}
            
            h3{font-family: $o-font;
                font-size: 1.5em;  
                margin-bottom: 30px;
                width: 90vw;
                padding: 1.5%;
                color: seashell;
                
            }
            
            .text,.text-2{
            width: 90vw;
            padding: 1.5%;
            font-family: $o-font;
            font-size: 1.2em;
            line-height: 65px;
            color: seashell;
    
            }
        
            .close-btn{ background: none;
                        float:right;
                        margin-right: 15px;
                        cursor: pointer;
                        border:none; 
                        font-size:40px;
                        color:seashell;}
        
            .workImg img { 
                width: 55%; 
                margin-top: 100px;
                margin-left:0vw;}
        
            .link{
                    margin-top: 120px;
                    text-align: center;
                img{width: 55px; padding: 5%; margin-left:-7%}}
                                        } //lightbox
         
          .show-popover { 
             display: block !important;
               text-align: center;}


}