@import 'modules/_nav';

@font-face {
    font-family: "PhosphateInline";
    src: url("../css/PhosphateInline.woff"),
         url("../css/PhosphateInline.woff2");
    
}

main{
width: 100vw;
overflow-x:hidden;
padding:0;
margin:0;
}



#about{
width: 100vw;
height: 70vh;
display: flex;
flex-direction: row;

.black-about{
width: 50vw;
background-color: #161616;

h2{font-size: 3rem; color: white; text-align:left}

.img-con{
    height: 235px;
    transform: rotate(-45deg);
    // vertical-align: middle;
    width:235px;
    top: 7vh;
    left: 15vw;
    position: relative;
    background-image: url(../images/pro.png);
    background-attachment: fixed;
    justify-content: center;
}


}

#about-dynamic{
    width: 50vw;
background-color: white;
padding: 3%;

h1{
text-align: center;
font-size: 1.5rem;
letter-spacing: 1vw;
font-weight: 400;
margin-bottom: 3vh;
 span{
font-size: 4rem;
}
}
h2,h3{font-size:1.2rem; letter-spacing: 3px; text-align: center; padding: 1.5%;}
p{padding: 1%; font-size: 1rem; letter-spacing: 2px; text-align: center;}

//dynamic h2 h3 do styling !!!!!!!!!!!!!!!!!!!

}

}

//do portfolio

#work{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x:hidden;
    background-color: whitesmoke;
    flex-direction: row;

    

    .white-g
    {width: 44vw;
    height: 80vh;
    margin: 3%;
    background-color: white;}
    
    #img-here{
      width: 450px;
      height: 330px;
      background-color: #B4B1B1;
      position: absolute;
      z-index: 1;
      top: 190vh;
      left: 22vw;
      margin:0 auto;
      overflow:hidden;
    
    .img-cont{
        position:relative; width:1800px; transition: all .5s;
    
        img{width: 450px; float:left;}
    }
    
    }
  //WORK PORTFOLIO DONE
    

    .black-g
    {
    width: 56vw;
    height: 100vh;
    position: relative;
    right: 0;
    background-color: black;
    
    .workData{
    color:white;
    width: 20vw;
    display:flex;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 5vh;
    margin-left: 14vw;
    padding: 5%;
    
    &:hover{cursor: pointer;}
    }

     
    }
}

#video{
    width: 100vw;
    height: 100vh;
    background-color:white;
}
//video here...........


.popover { 
    display: none;
    position: absolute;
    background-color:rgba(71,70,70,0.8);
    width:100vw;
    height: 100vh;
    top: 200vh;
    z-index: 1;
    border-radius: 8px;
    padding: 4px;


    h2 {font-size: 2.5rem; font-weight: 300; color: seashell; margin-bottom: 10px;}
    
    h3,p{
    padding: 2%;
    font-size: 1.5rem;
    color: seashell;
    }

    .workImg img { width: 250px; height: 150px;}

    .link{
        img{width: 50px; padding: 3%;}}
  }
 
  .show-popover { 
     display: block;
       text-align: center;}





     //Contact form  
     
    //  .contact{
    //      width: 100vw;
    //      height: 100vh;
         

       #form {
        display:none;
        width: 70vw;
        height: 100vh;
        margin: 0 auto;
        text-align: center;
        background-color: #161616;
        position: absolute;
        top: 50vh;
        left: 10vw;
        z-index: 1;
        border-radius: 2px;
        
        h2{font-family:"PhosphateInline"; font-size:2rem; color: white; margin: 40px; text-align: center;}

        input {
            width: 50vw;
            height: 30px;
            margin-top: 40px;
            padding: 5px;
            border: solid ;
            font-size: 1.25em;
        }
    
        textarea {
            width: 50vw;
            height: 160px;
            margin-top: 30px;
            padding: 5px;
            border: solid 3px;
            
            font-size: 1.25em;
        }
    
        .submit-btn{
            width: 50vw;
            height: 45px;
            border: none;
            background-color: #161616;
            color: whitesmoke;
            font-size: 1.2em;
            margin-top: 30px;
            transition: .3s;
            &:hover{
              transform: scale(1.01);
              background-color: violet;
              cursor: pointer;
              }}
                    
         }
        .show-cont { 
            display: block !important; 
              text-align: center;}