body{ background-color: white; 
    margin: 0 auto;
    width: 100vw;}


    .form{
    width: 70vw;
    height: 70vh;
    margin: 0 auto;
    text-align: center;
    background-color: #161616;
    }

    input {
        width: 50vw;
        height: 30px;
        margin-top: 40px;
        
        padding: 5px;
        border: solid ;
        font-size: 1.25em;
    }


    textarea {
        width: 50vw;
        height: 160px;
        margin-top: 30px;
        padding: 5px;
        border: solid 3px;
        font-size: 1.25em;
    }

    .submit-btn{
        width: 50vw;
        height: 45px;
        border: none;
        background-color:#f01D13;
        color: whitesmoke;
        font-size: 1.2em;
        margin-top: 30px;}

        /* doesnt work.... */

                
    
    
