<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/ico" href="images/logo.ico">
    <title>Lee, Soyoon</title>
</head>
<body>
  <main>
<section id="m-img">
<article class="navi">
  <span class="myFace"><img src="images/logo.svg" id="logo" alt="logo"></span>
  <div id="menu"><div class="burger"></div></div>
  </article>
  <nav class="main-nav">
    <ul>
      <li><a href="#m-img">HOME</a></li>
      <li><a href="#about">ABOUT</a></li>
      <li><a href="#work">WORK</a></li>
      <li><a href="#video">VIDEO</a></li>
      <li><a href="#" class="nav-cont">CONTACT</a></li>
    </ul>
  </nav>
  
  <h1 class="m-text">
  <span>H</span><span>E</span><span>L</span><span>L</span><span>O</span><br>
  <span>W</span><span>O</span><span>R</span><span>L</span><span>D</span></h1>
</section>
<!-- hook image-->
<section id="about">
<div class="black-about">
<h2>ABOUT</h2>
<div class="img-con"></div>
<marquee direction="up" scrollamount="11" loop="infinite">SOYOON LEE: FRONT-END DEVELOPER
  <br>SOYOON LEE: FRONT-END DEVELOPER<br>SOYOON LEE: FRONT-END DEVELOPER
  <br>SOYOON LEE: FRONT-END DEVELOPER<br>SOYOON LEE: FRONT-END DEVELOPER
  <br>SOYOON LEE: FRONT-END DEVELOPER<br>SOYOON LEE: FRONT-END DEVELOPER<br>
  SOYOON LEE: FRONT-END DEVELOPER<br>SOYOON LEE: FRONT-END DEVELOPER</marquee>
  <!---LOL--->

</div>
<div id="about-dynamic">
<h1><span>H</span>ELLO I'M SOYOON</h1>
{{{ body }}}
<div class="skill">
  <img src="images/skills.svg">
  <ul class="etc">
    <li><span>Adobe</span></li>
    <li>Photoshop</li>
    <li>Illustrator</li>
    <li>After effect</li>
    <li><span>Developement</span></li>
    <li>Node.js</li>
  </ul>
</div></div>
</section>
<!---about-->
<section id="work">
<div class="white-g"></div>
<div id="img-here">
  <div class="img-cont" style="right: 0;">
 <img src="images/music-mockup.png">
 <img src="images/float-mockup.png">
 <img src="images/team-mockup.png">
 <img src="images/banana-mockup.png">
 </div>
</div>
<div class="black-g">
  <span class="workData" data-target="1" data-offset="0">Music Mixer</span>
  <span class="workData" data-target="2" data-offset="1">float:LEFT</span>
  <span class="workData" data-target="3" data-offset="2">Team Page</span>
  <span class="workData" data-target="4" data-offset="3">Banana Slicer</span>
</div>
</section>

<article class="popover">
            <!-- ㅇㅣ미지 -->
            <button class="close-btn">X</button>
            <h2 class="name"></h2>
            <h3 class="tool"></h3>
            <h3 class="team"></h3>
            <p class="text"></p>
            <figure class="workImg"></figure>
            <h4 class="link"></h4>
        </article>
  <!-- work -->
 

 <section id="video">
 
   <video autoplay loop controls muted src="images/Lee_Soyoon_DemoReel-web.mp4" type="video/mp4">
 </video>
 </section>

{{!-- <section id="contact"> --}}
 <div id="form">
                <h2>LET'S GET IN TOUCH...</h2>
                <form id="plz" action="#" method="get">
                    <input placeholder="Name" type="text">
                    <input placeholder="Email" type="email">
                    <input placeholder="Phone Number" type="number">
                    <textarea placeholder="Message..."></textarea>
                    <button class="submit-btn">SUBMIT</button>
                </form>
            </div>
  </section>

<footer id="foot">
  <ul class="icons">
    <li><a href=""><img src="images/linkedin.svg"></a></li>
    <li><a href="https://github.com/soyoooooon"><img src="images/github-footer.svg"></a></li>
    <li><a href=""><img src="images/facebook.svg"></a></li>
  </div>
</footer>
</main>
<script src="js/main.js"></script>
</body>
</html>