<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/ico" href="images/logo.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    
    <title>Lee, Soyoon</title>
</head>
<body>
  <main>
<section id="m-img">
<article class="navi">
  <span class="myFace"><img src="images/logo.svg" id="logo" alt="logo"></span>
  <div id="menu"><div class="burger"></div></div>
  </article>
  <nav class="main-nav">
    <ul>
      <li><a href="#m-img">HOME</a></li>
      <li><a href="#about">ABOUT</a></li>
      <li><a href="#work">WORK</a></li>
      <li><a href="#form" class="nav-cont">CONTACT</a></li>
    </ul>
  </nav>
  
  <h1 class="m-text">
  <span>H</span><span>E</span><span>L</span><span>L</span><span>O</span><br>
  <span>I'M</span> <span>Y</span><span>O</span><span>O</span><span>N</span></h1>
</section>
<!-- hook image-->
<section id="about">
<div class="black-about">
{{!-- <h2>ABOUT</h2> --}}
<div class="img-con"></div>
</div>
<div id="intro-cont">
  <h2 id="intro"><span>I AM YOON</span></h2>
  {{!-- <h3>I am a junior FRONT-END DEVELOPER</h3> --}}
  <p id="onEp">Based in Ontario, Canada. But I'm always willing to travel and work everywhere.
  hailed from Seoul, South Korea. Now I am in Canada, always be open-minded about diverse cultures.
  </p>
  <p id="twOp">I love what I'm doing, my work. I have a passion for learning more about web development.</p>

  <button class="resume"><a href="images/resume_copy.pdf" download>Resumé</a></button>
</div>
<div class="skill-set">
<h3>I have a confidence in these skills : </h3>
<img src="images/html.svg">
<img src="images/sass.png">
<img src="images/js-icon.png">
<img src="images/Vue-js.svg">
<img src="images/node.png">
</div>
</section>





{{!-- <h1><span>H</span>ELLO I'M SOYOON</h1> --}}
{{{ body }}}

  <!-- work -->
 

 
<section id="contact">
 <div id="form">
                <h2>LET'S GET IN TOUCH...</h2>
                <form id="plz" action="/send" method="POST">
                    <input placeholder="Name" type="text" name="name">
                    <input placeholder="Email" type="email" name="email">
                    <input placeholder="Phone Number" type="number" name="phone">
                    <textarea placeholder="Message..." name="message"></textarea>
                    <button type="submit" class="submit-btn">SUBMIT</button>
                </form>
            </div>
 <div class="sendit">
 <h2>Thank you for contact!</h2>
 <h3>I'll respond to your contact as quickly as possible.:)</h3>
 </div></section>

<footer id="foot">
  <ul class="icons">
    <li><a href="https://www.linkedin.com/in/soyoon-lee-75ab66199/" target="_blank"><img src="images/linkedin.svg"></a></li>
    <li><a href="https://github.com/soyoooooon" target="_blank"><img src="images/github-footer.svg"></a></li>
    <li><a href="https://www.facebook.com/soyoon.lee.94043" target="_blank"><img src="images/facebook.svg"></a></li>
  </div>
</footer>
</main>
<script src="js/main.js"></script>
</body>
</html>