
{{#each bio}}
{{id}}
<h2>{{job}}</h2>
<h3>{{feature}}</h3>
 <p>{{extra}}</p>
{{/each}}
<div class="skill">
  <img src="images/skills.svg">
  <ul class="etc">
    <li><span>Adobe</span></li>
    <li>Photoshop</li>
    <li>Illustrator</li>
    <li>After effect</li>
    <li><span>Developement</span></li>
    <li>Node.js</li>
  </ul>
</div></div>
</section>
<!---about-->
<section id="work">
<div class="white-g">
  <div class="deco"></div>
<div id="img-here">
  <div class="img-cont" style="right: 0;">
 <img src="images/music-mockup.png">
 <img src="images/float-mockup.png">
 <img src="images/team-mockup.png">
 <img src="images/banana-mockup.png">
 </div>
 </div>
</div>
<div class="black-g">
  <span class="workData" data-target="1" data-offset="0">Music Mixer</span>
  <span class="workData" data-target="2" data-offset="1">float:LEFT</span>
  <span class="workData" data-target="3" data-offset="2">Team Page</span>
  <span class="workData" data-target="4" data-offset="3">Banana Slicer</span>
</div>
</section>

<article class="popover">
            <!-- ㅇㅣ미지 -->
            <button class="close-btn">X</button>
            <h2 class="name"></h2>
            <h3 class="tool"></h3>
            <h3 class="team"></h3>
            <p class="text"></p>
            <figure class="workImg"></figure>
            <h4 class="link"></h4>
        </article>