<section id="work">
  <h2>PROJECTS</h2>
<div id="img-here">
  <div class="img-cont" style="right: 0;">
 <img class="workImg" src="images/float-sass.png">
 <img class="workImg" src="images/music-mixer-js.png">
 <img class="workImg" src="images/shopify.png">
 <img class="workImg" src="images/roku-vue.png"></div>
 </div>
<div class="black-g">
  <span class="workData" data-target="1" data-offset="0">SASS</span>
  <span class="workData" data-target="2" data-offset="1">Java Script</span>
  <span class="workData" data-target="3"  data-offset="2">Liquid</span>
  <span class="workData" data-target="4" data-offset="3">Vue.js</span>
</div>
</section>
<!-- work done..-->
<section id="design-cont"></section>
<section id="other-work">
  <div id="flex-box">
<div class="etc-work" data-target="5"><img src="images/rry.png"></div>
<div class="etc-work" data-target="6"><img src="images/yoonchat.png"></div></div>
<div id="flex-box">
<div class="etc-work" data-target="7"><img src="images/banana.png"></div>
<div class="etc-work" data-target="8"><img src="images/ontarioSummer.png"></div></div>
<div id="flex-box">
<div class="etc-work" data-target="9"><img src="images/traa.png"></div>
<div class="etc-work" data-target="10"><img src="images/teampage.png"></div></div>
</section>
<button class="contact-btn"><a href="#form" class="nav-cont">Contact</a></button>


<article class="popover">
            <!-- ㅇㅣ미지 -->
            <button class="close-btn">X</button>
            <h2 class="name"></h2>
            <h3 class="tool"></h3>
            <h3 class="team"></h3>
            <p class="text"></p><br>
            <p class="text-2"></p>
            <figure class="workImg"></figure>
            <h4 class="link"></h4>
        </article>
