
    #foot{
        background-color: white;
        width: 100vw;
        margin-top: 430px;
        position: relative;
        
        
        .icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
         li{ width: 35px; height: 35px; padding: 2%;
            img{width: 35px; height: 35px;}}
        }}




     @media only screen and (min-width : 480px) and (max-width: 543px){
    #foot{
        background-color: white;
        width: 100vw;
        margin-top: 230px;
        position: relative;
        
        
        .icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
         li{ width: 35px; height: 35px; padding: 2%;
            img{width: 35px; height: 35px;}}
        }}
 }




 @media only screen and 
 (min-width : 543px) and  (max-width : 720px) {
    #foot{
        background-color: white;
        width: 100vw;
        position: relative;
        margin-top: 300px;
        
        
        .icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
         li{ width: 50px; height: 50px; padding: 2%;
            img{width: 50px; height: 50px;}}
        }}
    }

    @media only screen and 
    (min-width : 721px) and  (max-width : 1023px) {
    #foot{
        background-color: white;
        width: 100vw;
        position: relative;
        margin-top: 230px;
        
        .icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
         li{ width: 50px; height: 50px; padding: 2%;
            img{width: 50px; height: 50px;}}
        }}


}
    





@media only screen and
(max-width: 1279px) and (min-width: 1024px){

    #foot{
        background-color: white;
        width: 100vw;
        margin-top: 5vh;
        
        .icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
         li{ width: 50px; height: 50px; padding: 2%;
            img{width: 50px; height: 50px;}}
        }}


}


@media only screen and
        (min-width: 1024px) and (max-width: 1281px){
            #foot{
                background-color: white;
                width: 100vw;
                margin-top: 20vh;
                
                .icons{
                display: flex;
                flex-direction: row;
                justify-content: center;
                
                 li{ width: 50px; height: 50px; padding: 2%;
                    img{width: 50px; height: 50px;}}
                }}
        



        }

        @media only screen and (min-width: 1282px){
        }