@font-face {
  font-family: "PhosphateInline";
  src: url("../css/PhosphateInline.woff"),
       url("../css/PhosphateInline.woff2");}

        #m-img{
          width: 100vw;
          height: 450px;
          background-color: #161616;
          padding-bottom: 20px;
          
          .navi
          {
          //  top: 0px;
          padding: 0;
          margin:0;
          display: flex;
          flex-direction: row;
        
          .myFace { width: auto;
            &:hover{cursor: pointer;}}
          
          #logo{width: 20vw;}
           
          
          
           #menu{
            width: 100px;
            height: 80px;
            position: fixed;
            z-index: 100;
            top: 0vh;
            left:84vw;
            // border: solid salmon;
            // transform: translate(-30%,-30%);
            &:hover{
              cursor:pointer;
            }
          
          .burger{
            height: 2px;
            width:35px;
            position: absolute;
            top: 5vh;
            left: 6vw;
            border-radius: 50px;
            background-color: white;
            transform: translate(-50%,-50%) rotate(0deg);
            transition: all ease 0.5s;
            animation-name: backgroundcolorchange;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        
            @keyframes backgroundcolorchange{
            
              0% {background: #ffffff;} 
              50% {background: #161616;}
              100% {background: #ffffff;}}
            &::before,&::after{
              content:"";
              position: absolute;
              height: inherit;
              border-radius: inherit;
              background-color: inherit;
              margin: auto;
              width: 50%;
              animation-name: backgroundcolorchange;
              animation-duration: 3s;
              animation-iteration-count: infinite;
            }
            &::before{
              top: -13px;
              left: 0;
              transform-origin: left;
            }
            &::after{
              bottom:-13px;
              right: 0;
              transform-origin: right;
            }
          }
          
          .open{
            transform:translate(-50%,-50%) rotate(120deg);
            &::before{
              top:0;
              transform: translateX(100%) rotate(120deg);
            }
            &::after{
              bottom:0;
              transform: translateX(-100%) rotate(120deg);
            }
          } 
          }
          }
        
        
        .main-nav{
          display: none;
          &.slideToggle {
          display: flex;
          flex-direction: column;
          position: fixed;
          left: 70vw;
          top:0;
          width:30vw;
          height: 100vh;
          z-index: 90;
          background-color:white;}
        
          ul {
            font-family: "PhosphateInline";
            display: flex;
            color: #161616;
            font-size: 1.3rem;
            margin-top: 20vh;
            flex-direction: column;
           li a {
             text-decoration: none;
             color:#000;
            display: block;
            padding: 20px 0;
            text-align: center;}
           } }
        
        
        
        .m-text
        {
         font-family: "PhosphateInline";
        // font-family: 'Share Tech Mono', monospace;
        font-size: 5rem;
        padding-top: 10vh;
        text-align: center;
        color:#B4B1B1;
        //copy from css text shadow
        letter-spacing: 2px;
        
         & > span {
        animation: glow 5s ease-in-out infinite;
         }
        
        }
        
        @keyframes glow {
            10%, 90% {
              color: #FFF;
              text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #B4B1B1, 0 0 30px #B4B1B1, 0 0 40px #B4B1B1, 0 0 55px #B4B1B1, 0 0 75px #B4B1B1, 2px 2px 2px rgba(142,139,116,0), 2px 2px 2px;
            }
            
            0%, 100% {
              color: #111;
              text-shadow: none;
            }
          }
        
          
          .m-text > span:nth-child(2) {
              animation-delay: 0.5s;
          }
          
          .m-text > span:nth-child(3) {
              animation-delay: 1s;
          }
          
          .m-text > span:nth-child(4) {
              animation-delay: 1.5s;
          }
          
          .m-text > span:nth-child(5) {
              animation-delay: 2s;
          }
          
          .m-text > span:nth-child(7) {
              animation-delay: 2.5s;
          }
          
          .m-text > span:nth-child(8) {
              animation-delay: 3s;
          }
        
          .m-text > span:nth-child(9){
            animation-delay: 3.5s;
          }
        
          .m-text > span:nth-child(10){
            animation-delay: 4s;
          }
        
          .m-text > span:nth-child(11){
            animation-delay: 4.5s;
          }
        }
      

  
       @media only screen and (min-width : 480px) and (max-width: 543px){
        
        #m-img{
          height: 80vh;
          .main-nav{

            ul{
              font-size: 1.7rem;
            }
          }

          .m-text{
            font-size: 5.7rem;
            padding-top: 20vh;
          }

        }


      }
    
      @media only screen and 
      (min-width : 543px) and  (max-width : 720px) {

        #m-img{
          height: 100vh;

          

            .navi{
              #menu{left:88vw;}
            }
          

          .main-nav{
            ul{
              font-size: 2rem;
            }
          }

          .m-text{
            font-size:7.5rem;
           
            padding-top: 23vh;
          }

        }

        
      }



        //tablette omelette
        @media only screen and 
        (min-width : 721px) and  (max-width : 1023px) {

          #m-img{
            height: 130vh;
  
            
  
              .navi{
                #menu{left:88vw;
                
                .burger{

                  width: 40px;
                  height:4px;
                }}
              }
            
  
            .main-nav{
              ul{
                font-size: 2.5rem;
              }
            }
  
            .m-text{
              font-size:10rem;
             
              padding-top: 30vh;
            }
  
          }

        }







    

        @media only screen and
        (min-width: 1024px) and (max-width: 1281px){

          #m-img{
            height: 160vh;
  
              .navi{
                #menu{left:89vw;
              
                .burger{

                  width: 42px;
                  height:4px;
                }
              }
            }//navi
            
  
            .main-nav{
            
              width: 15vw;
              left: 70vw;
              
              ul{
                font-size: 2.7rem;
              }
            
          }
  
            .m-text{
              font-size:14rem;
             
              padding-top: 40vh;
            }
  
          }


        }

   //Big desktop
@media only screen and (min-width: 1282px){


  #m-img{
    height: 160vh;

      .navi{
        #menu{left:89vw;
      
        .burger{

          width: 42px;
          height:4px;
        }
      }
    }//navi
    

    .main-nav{
    
      width: 15vw;
      left: 70vw;
      
      ul{
        font-size: 2.7rem;
      }
    
  }

    .m-text{
      font-size:14rem;
     
      padding-top: 40vh;
    }

  }
}
   